
/*h1 {
    color:red;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* * {
    border: solid;
} 
.header{
 background-color: blueviolet;
 display: flex;
 justify-content: space-between;
 font-family: "Times New Roman", Times, serif;
 
}

.site-description{
    
    display: flex;
flex-direction: column;
justify-content: first baseline;
}
.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
    
}
p,h2{

} */
